.urlSearchBox fieldset {
	border-radius: 3px;
	padding: 0px 8px 8px 8px;
	border: 1px solid #cccccc;
}
.help {
	line-height: 14px !important;
	padding: 0px 3px !important;
}
#title {
	text-align: center;
	padding: 32px 0px;
}
#btnMyLocation, #btnResetLocation {
	overflow: visible;
	padding: 5px 45px;
}
#mapContainer {
	display: none;
	text-align: center;
	margin: 0 auto;
}
#map {
	float: none;
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-top: 10px;
}
#map * {
	margin: 0px;
}
hr {
	border: none;
	border-bottom: 1px solid #cccccc;
}
table {
	margin-bottom: 15px;
}
table > tbody > tr > td.field_name {
	text-align: left;
}
table > tbody > tr > td.location_value {
	width: auto;
	text-align: left;
}
table.empty .help {
	display: none;
}