<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/styles/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="vendor/spirit-framework/styles/css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/geolocation.css" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/spirit-framework/js/core.js"></script>
	<script type="text/javascript" src="js/libs/handlebars-v1.3.0.js"></script>
	<script type="text/javascript" src="js/geolocation.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCue17F_XfJlLGFtY-TUGGgVKHFU_znDJ0" async defer></script>
	<title></title>
</head>
<body class="container">
	<div class="demo">
		<h1 id="title">GeoLocation Test</h1>
		<hr class="divider"></hr>
		<div class="content">
			<form name="urlSearchForm" action="#" method="GET" class="demo-form-v demo-form-grid" onsubmit="return false">
				<div class="urlSearchBox margin-bottom-x20">
					<fieldset>
						<legend>
							<label for="query" class="demo-lb-text text-bold"><span>Query IP / domain</span></label>
						</legend>
						<div class="demo-one-row clearfix">
							<div class="demo-tf-skin col-l0 box-asd no-margin-right">
								<div class="demo-grid">
									<input type="text" name="query" id="query" class="query" />
								</div>
							</div>
							<span class="box-asd col-xl no-margin-bottom no-margin-right">
								<button class="demo-btn-skin demo-btn-form demo-btn-submit valid-submit btnLocate">
									<span class="demo-btn-ico fa fa-map-marker"></span>Locate
								</button>
							</span>
						</div>
					</fieldset>
					<div id="mapContainer">
						<div id="map">
						</div>
					</div>
				</div>
				<section id="mainContent">
				</section>
				<script type="text/x-handlebars" id="index">
					<section id="geoLocationContainer" class="">
					</section>
				</script>
				<script type="text/x-handlebars" id="locationInfo">
					<h5 class="margin-bottom-x10">Estimated location</h5>
					<div class="table-container margin-bottom-x20">
						<table class="table-stripe empty">
							<tbody>
								<tr>
									<td class="field_name">As</td>
									<td id="location_as" class="location_value">{{as}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">City</td>
									<td id="location_city" class="location_value">{{city}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Country</td>
									<td id="location_country" class="location_value">{{country}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Country Code</td>
									<td id="location_countryCode" class="location_value">{{countryCode}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">ISP</td>
									<td id="location_isp" class="location_value">{{isp}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Latitude</td>
									<td id="location_lat" class="location_value">{{lat}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Longitude</td>
									<td id="location_lon" class="location_value">{{lon}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Org</td>
									<td id="location_org" class="location_value">{{org}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">IP</td>
									<td id="location_query" class="location_value">{{query}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Region</td>
									<td id="location_region" class="location_value">{{region}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Region Name</td>
									<td id="location_regionName" class="location_value">{{regionName}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Status</td>
									<td id="location_status" class="location_value">{{status}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Time Zone</td>
									<td id="location_timezone" class="location_value">{{timezone}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
								<tr>
									<td class="field_name">Zip Code</td>
									<td id="location_zip" class="location_value">{{zip}}</td>
									<td><button class="help demo-btn-skin demo-btn-info"><span class="fa fa-info"></span></button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</script>
				<span class="box-asd col-xl">
					<button class="demo-btn-skin demo-btn-secondary btnUserLocation" onclick="findUserLocation()">
						<span class="demo-btn-ico fa fa-location-arrow"></span>My location
					</button>
				</span>
				<span class="box-asd col-xl">
					<button class="demo-btn-skin demo-btn-default btnResetLocation" onclick="clearLocationDetails()">Reset location</button>
				</span>
			</form>
		</div>
	</div>
</body>
</html>
